:root{
  --color-oscuro:#174C44 ;
}
.titles{
  font-family: 'Poppins', sans-serif;
  color: var(--color-oscuro);
  font-size: 1rem;
}
.text-normal{
  font-family: 'Open Sans' , sans-serif;
  color: var(--color-oscuro);
  font-size: 0.9rem;
}

.detail-especie{
  z-index: 700;
  position: fixed;
  /* Este es el width 100% por defecto para dispositivos pequeños para que ocupe todo su ancho*/
  width: 100%;
  /* height:100%; es para todo el alto del dispositivo y height:auto; es para solo el alto del contenido del panel  */
  height: 100%;
  overflow-y: scroll;
  background-color: white;
  top: 60px;
  right: -100%;
  transition: all 0.2s ease-in-out;
}

.image-epecie{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.active {
  right: 0;
}

.preview__description__container {
  padding: 1rem;
}

.detail-container-especie{
  display: flex;
  flex-direction: column;
  margin: 0 40px;
}

.detail-container-especie img{
width: 200px;
height: 200px;
}
.img-detail-especie{

}
.detail-container-especie-secundary{
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 20px;
}


/* Aqui se cambia el width del panel para dispositivos medianos y grandes */
@media only screen and (min-width: 768px) {
  .detail-especie {
    width: 50%;
  }
}

@media only screen and (min-width: 1440px) {
  .detail-especie {
    width: 40%;
  }
}