:root{
  --color-oscuro:#174C44 ;

}
.titleEspecie{
  font-family: 'Poppins', sans-serif;
  color: var(--color-oscuro);
  font-size: 1.1rem;
}
.text-normal{
  font-family: 'Open Sans' , sans-serif;
  color: var(--color-oscuro);
  font-size: 0.9rem;
}
.nombreCientifico{
  font-size: 1.1rem;
}
.text-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  padding-bottom: 6px;
  border-bottom: 1px solid var(--color-oscuro);
}
.text-origen{
  font-family: 'Open Sans' , sans-serif;
  font-weight:bold;
  color: white;
  background-color: var(--color-oscuro);
  border-radius: 10px;
  padding: 2px 5px;
  font-size: 0.7rem;
}
.text-descripcion{
  font-family: 'Open Sans' , sans-serif;
  color: var(--color-oscuro);
  font-size: 0.9rem;
  
  margin-bottom: 1.2rem;
}

.text-recomendable{
  font-family: 'Open Sans' , sans-serif;
  color: var(--color-oscuro);
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1.2rem;
}

.detail-especie{
  z-index: 1000;
  position: fixed;
  /* Este es el width 100% por defecto para dispositivos pequeños para que ocupe todo su ancho*/
  width: 100%;
  /* height:100%; es para todo el alto del dispositivo y height:auto; es para solo el alto del contenido del panel  */
  height: 100%;
  overflow-y: scroll;
  background-color: #EBF5EE;
  top: 60px;
  right: -100%;
  transition: all 0.2s ease-in-out;
}

.image-epecie{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.active {
  right: 0;
}

.preview__description__container {
  padding: 1rem;
}

.detail-container-especie{
  display: flex;
  flex-direction: column;
  margin: 0 40px;
}

.detail-container-especie img{
width: 240px;
height: 240px;
}
.img-detail-especie{

}
.detail-container-especie-secundary{
  display: flex;
  flex-direction: row;
  gap: 30px;
}


/* Aqui se cambia el width del panel para dispositivos medianos y grandes */
@media only screen and (min-width: 768px) {
  .detail-especie {
    width: 45%;
  }
}

@media only screen and (min-width: 1440px) {
  .detail-especie {
    width: 35%;
  }
}