:root{
  --color-oscuro:#174C44 ;
  --color-claro:#268576; 
}

.titles{
  font-family: 'Poppins', sans-serif;
  color: var(--color-oscuro);
  font-size: 1rem;
}
.text-normal{
  font-family: 'Open Sans' , sans-serif;
  color: var(--color-oscuro);
  font-size: 0.9rem;
}
.inputBuscar{
  font-family: 'Poppins';
  font-size: 1rem;
  color: #174C44 !important;
}
/* buscador */

.containerInput {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search{
  margin-top: 10px;
  display: flex;
  width: 80%;
}

.form-control {
  width: 100%;
  border: 4px solid var(--color-claro);
  border-right: none;
  padding: 5px;
  height: 38px;
  font-size: 17px;
  border-radius:20px 0 0 20px;
  outline: none;
  color: #9DBFAF;
}

.btn-success{
  width: 70px;
  height: 56px;
  border: 4px solid var(--color-claro);
  background: var(--color-claro);
  text-align: center;
  color: #fff;
  border-radius: 0 20px 20px 0;
  cursor: pointer;

}
  /* container */
  
  .container-primary{
    margin: 20px 50px 20px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill,640px);
    gap: 36px;
    place-content: center;
  }
  .container-catalogo{
    display: grid;
    grid-template-columns: auto 1fr ;
    gap: 20px;
    cursor: pointer;
  }

  
  .text-arbol p{
    color: var(--color-oscuro);
  }
  
  .container-catalogo figure{
    margin: 0;
  }
  .container-catalogo figure img{
    width: 250px;
    height: 250px;
    border-radius: 3px;
  }
  .container-text-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
  }

  .container-icon-info{
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-top: 12px;
  }
  .icon-info {
      margin: 0;
      background-color: var(--color-oscuro);
      border-radius: 40px;
      text-transform: capitalize;
  }

  @media (max-width: 850px){

    .container-primary{
      margin: 20px 50px 20px 50px;
      display: grid;
      grid-template-columns: repeat(auto-fill,540px);
      gap: 26px;
      place-content: center;
    }
    .container-catalogo figure img{
      width: 210px;
      height: 210px;
    }
  }
  @media (max-width: 550px){
    .search{
      margin-top: 10px;
      width: 90%;
    }

    .button-primary{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .button-primary p{
      margin-top: 0px;
    }
    .button-primary h2{
      margin-top: 0px;
    }
    .container-catalogo figure img{
      width: 250px;
      height: 250px;
    }

    .container-catalogo {
      width: 100%;
      gap: 0;
      align-items: center;
      margin: 0;
    }
    .container-primary{
      margin: 10px 20px 10px 20px;
      display: grid;
      grid-template-columns: repeat(auto-fill,340px);
      gap: 36px;
      place-content: center;
    }
  }