.mainGrid {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 100px);
  padding-inline: 24px;
  padding-bottom: 24px;
  gap: var(--spacing-larger);
  /* position: relative; */
}

.card {
  border: 1px solid var(--geyser-200);
  border-radius: 16px;
  overflow: hidden;
  transition: 0.3s ease;
  background: white;
  width: 0px;
  /* opacity: 0; */
  display: none;
}

.inner {
  padding: 12px;
  min-width: 500px;
  background-color: lightgrey;
}

.map {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: var(--br-medium);
  border: 1px solid #E1E9E9;
}

@media (max-width: 768px) {
  .mainGrid {
    display: flex;
    flex-direction: column;
    min-height: 780px;
    padding-bottom: 24px;
  }
}