
.center{
  display: flex;
  justify-content: center;
}
.top-position-container{
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
}
.first-place, .second-place, .third-place{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  /* background-color: red; */
  align-items: center;
  text-align: center;
}
/* .first-place > img{
  margin-top: 10px;
} */
.first-place > .puntos{
  margin-top: 10px;
  /* background-color: brown; */
  width: 100%;
}
/* .second-place > img{
  margin-top: 20px;
} */
.second-place > .puntos{
  margin-top: 10px;
  /* background-color: brown; */
  width: 100%;
}
/* .third-place > img{
  margin-top: 30px;
} */
.third-place > .puntos{
 margin-top: 0px;
 /* background-color: brown; */
 width: 100%;
}
.puntos{
  font-size: 1.5rem;
  font-family: 'Open Sans';
}
.label-position-first,.label-position-second,.label-position-third{
  padding: 5px;
  /* background-color: brown;
  color: white; */
}
.label-position-second{
  margin-top: 10px;
  font-family: 'Poppins';
}
.label-position-first{
  font-family: 'Poppins';

}
.label-position-third{
  margin-top: 10px;
  font-family: 'Poppins';

}
.info-user{
  /* width: 150px; */
  font-size: 0.8rem;
  font-family: 'Open Sans';
}
.name-user{
  font-size: 0.8rem;
}
.img-user{
  border-radius: 50%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  width: 60px;
  height: 60px;
}
.img-user-first{
  width: 80px;
  height: 80px;
}
@media only screen and (min-width: 430px) {
  .img-user{
    width: 70px;
    height: 70px;
  }
  .img-user-first{
    width: 90px;
    height: 90px;
  }
}
@media only screen and (min-width: 470px) {
  .img-user{
    width: 80px;
    height: 80px;
  }
  .img-user-first{
    width: 100px;
    height: 100px;
  }
  .name-user{
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 630px) {
  .img-user{
    width: 90px;
    height: 90px;
  }
  .img-user-first{
    width: 110px;
    height: 110px;
  }
 .top-position-container{
    width: 600px;
  }
  .name-user{
    font-size: 1rem;
  }
}