.leaflet-container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
  }

.mapa-main {
  height: 100vh;
  overflow: hidden;
}

.hover:hover{
  cursor: pointer;
}
.leaflet-control-attribution{
  display: none;
}

.tipo-arbol-selector {
  position: fixed;
  top: 80px;
  right: 15px;
  z-index: 1000;
}

@media (max-width: 600px) {
  .tipo-arbol-selector {
    top: 70px;
    right: 10px;
  }
}