.checkbox {
  font-weight: 400;
  color: var(--color-text);
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 10px;
  margin-bottom: 2px;

  span {
    margin-top: -1px;
    text-align: start;
  }
}

.icon {
  min-width: 16px;
  min-height: 16px;
  max-width: 16px;
  max-height: 16px;
  border: 1px solid var(--color-border-strong);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-surface);

  svg {
    color: var(--white);
  }
}

.checkedIcon {
  border: 1px solid var(--green2);
  background-color: var(--color-bg-subtle);

  svg {
    color: var(--green2);
  }
}
