.sidebar {
  /* position: relative; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 24px;
  max-height: calc(100vh - 124px);
  width: 100%;
  max-width: 320px;
  transition: .3s ease;
}

.sidebar.collapsed {
  max-height: 56px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .withResult {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    color: var(--geyser-950);

    span {
      margin-top: 3px;
    }
  }
}

.body {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-x: hidden;
  overflow-y: overlay;
}

.resultsWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer {
  display: flex;
  gap: 1rem;
}

.rowSidebar {
  h3 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
    color: var(--geyser-950);
  }

  .options {
    display: flex;
    gap: 8px;
  }

  .accordionFilters {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.inputOptions {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.dateInputs {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.clearOptions {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--geyser-400);
  width: fit-content;
  transition: .2s ease;
}

.disabled {
  color: var(--persian-red-500);
}

.headerActions {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.toggleBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  min-width: 50px;
  border: 1px solid var(--geyser-200);
  border-radius: 12px;
  color: var(--green2);
}

.toggleBtn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.content.collapsed {
  display: none;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    max-width: 100%;
  }
}